[submodule ".vim/bundle/YouCompleteMe/third_party/ycmd"]
	path = .vim/bundle/YouCompleteMe/third_party/ycmd
	url = https://github.com/Valloric/ycmd.git
[submodule ".vim/bundle/YouCompleteMe/third_party/requests-futures"]
	path = .vim/bundle/YouCompleteMe/third_party/requests-futures
	url = https://github.com/ross/requests-futures.git
